<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Will This Kill Me?
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-if="cautions.length !== 0" class="card">
      <div class="item item-divider item-text-wrap">
        WARNING: The following allergens may appear in the recipes below.
      </div>
      <div class="item item-text-wrap">
        <ul ng-repeat="caution in cautions" class="list">
          <li class="item">
            {{ caution }}
          </li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <div ng-repeat="recipe in actual_info" class="list list-inset">
          <a class="item item-thumbnail-left" href="#">
            <img src="{{ recipe.imageUrl }}">
            
            <h2>{{ recipe.name }}</h2>
             
            <p ng-if="recipe.cautions.length === 0">Cautions: None</p>
            <p ng-if="recipe.cautions.length !== 0">Cautions: {{ recipe.cautions }}</p>

            <p ng-if="recipe.healthLabels.length === 0">Health Labels: None</p>
            <p ng-if="recipe.healthLabels.length !== 0">Health Labels: {{ recipe.healthLabels }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>