<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Index
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-if="cautions.length !== 0" class="card">
      <div class="item item-divider item-text-wrap">
        WARNING: The following allergens may appear in the recipes below.
      </div>
      <div class="item item-text-wrap">
        <ul ng-repeat="caution in cautions" class="list">
          <li class="item">
            {{ caution }}
          </li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        {{ actual_info }}
        <div ng-repeat="recipe in actual_info" class="list">
          <div class="item item-divider">
            {{ recipe }}
          </div>

          <!--<a class="item" href="#">
            Butterfinger
          </a>-->
        </div>
      </div>
    </div>
  </div>

</div>