<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Will This Kill Me?
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-if="tags.length !== 0">
      <div class="card">
        <div class="item item-text-wrap">
          <img class="picture" src="data:image/png;base64, {{ picture }}" />
        </div>
      </div>

      <div class="card">
        <div class="item item-divider">
          Select the foods that describe the picture best:
        </div>

        <div class="item item-text-wrap">
          <div ng-repeat="food in tags" class="list">
            <div class="item item-checkbox">
              {{food}}
              <label class="checkbox">
                <input type="checkbox" ng-model="checkboxModel[food]">
              </label>
            </div>
          </div>
        </div>
      </div>

      <button ng-click="submit()" class="button button-block button-positive">Submit</button>
    </div>

    <button ng-click="takePicture()" class="button button-block button-positive">
      Take a Picture of food!
    </button>
  </div>

</div>